<!-- detail-view.component.html -->

<div class="card">
    <h1>{{ data.name }}</h1>
    <h2>Codigo del Seguro: {{ data.carrierCode }}</h2>
  
    <div>
      <span>Monto del seguro:</span>
      <span>{{ data.assured }}</span>
    </div>
  
    <div>
      <span>Monto de la prima:</span>
      <span>{{ data.bonus }}</span>
    </div>
  
    <button mat-raised-button color="warn" class="delete-button" (click)="openDeleteConfirmationDialog()">
      <mat-icon>delete</mat-icon> Borrar
    </button>
  </div>