<div class="card">
    <h1>{{ data.name }}</h1>
    <h2>numero de Cedula: {{ data.nationalId }}</h2>
  
  
    <div>
      <span>Numero de telefono:</span>
      <span>{{ data.phone }}</span>
    </div>

    <div>
        <span>Años:</span>
        <span>{{ data.age }}</span>
      </div>
  
    <button mat-raised-button color="warn" class="delete-button" (click)="openDeleteConfirmationDialog()">
      <mat-icon>delete</mat-icon> Borrar
    </button>
</div>

<h2>
  Seguros en Uso
</h2>

<table mat-table class="mat-elevation-z8" [dataSource]="dataSource">

  <!-- Columnas -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nombre del Seguro </th>
    <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
  </ng-container>

  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef> Codigo del Seguro </th>
    <td mat-cell *matCellDef="let element"> {{ element.carrierCode }} </td>
  </ng-container>

  <ng-container matColumnDef="assured">
    <th mat-header-cell *matHeaderCellDef> Monto del Seguro </th>
    <td mat-cell *matCellDef="let element"> ${{ element.assured }} </td>
  </ng-container>
  <ng-container matColumnDef="bonus">
    <th mat-header-cell *matHeaderCellDef> Prima </th>
    <td mat-cell *matCellDef="let element"> ${{ element.bonus }} </td>
  </ng-container>

  <!-- Añade más columnas según sea necesario -->

  <!-- Fila de encabezado -->
  <tr mat-header-row *matHeaderRowDef="columns"></tr>

  <!-- Fila de datos -->
  <tr mat-row *matRowDef="let row; columns: columns;" (click)="onRowClick(row.id)"  ></tr>
  <!-- <tr mat-row *matRowDef="let row; columns: columns;" (click)="onRowClick(row.id)"  ></tr> -->
</table>